*{
    box-sizing: border-box;
}
body{
    background: #fff;
    font-family: tahoma;
}
.contain{
    width: 840px;
    margin:0 auto;
}

li{
    perspective: 400px;
}

.info{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    top:0;
    left:0;
    border-radius: 4px;
    pointer-events: none;
    background: hotpink;
    transform: rotate3d(1, 0, 0, 90deg);
    opacity: 0.7;
    
}

.in-top .info {
    -webkit-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-animation: in-top 300ms ease 0ms 1 forwards;
            animation: in-top 300ms ease 0ms 1 forwards;
  }
  
  .in-right .info {
    -webkit-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    -webkit-animation: in-right 300ms ease 0ms 1 forwards;
            animation: in-right 300ms ease 0ms 1 forwards;
  }
  
  .in-bottom .info {
    -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-animation: in-bottom 300ms ease 0ms 1 forwards;
            animation: in-bottom 300ms ease 0ms 1 forwards;
  }
  
  .in-left .info {
    -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-animation: in-left 300ms ease 0ms 1 forwards;
            animation: in-left 300ms ease 0ms 1 forwards;
  }
  
  .out-top .info {
    -webkit-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-animation: out-top 300ms ease 0ms 1 forwards;
            animation: out-top 300ms ease 0ms 1 forwards;
  }
  
  .out-right .info {
    -webkit-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-animation: out-right 300ms ease 0ms 1 forwards;
            animation: out-right 300ms ease 0ms 1 forwards;
  }
  
  .out-bottom .info {
    -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-animation: out-bottom 300ms ease 0ms 1 forwards;
            animation: out-bottom 300ms ease 0ms 1 forwards;
  }
  
  .out-left .info {
    -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-animation: out-left 300ms ease 0ms 1 forwards;
            animation: out-left 300ms ease 0ms 1 forwards;
  }
  
  @-webkit-keyframes in-top {
    from {
      -webkit-transform: rotate3d(-1, 0, 0, 90deg);
              transform: rotate3d(-1, 0, 0, 90deg);
    }
    to {
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
              transform: rotate3d(0, 0, 0, 0deg);
    }
  }
  
  @keyframes in-top {
    from {
      -webkit-transform: rotate3d(-1, 0, 0, 90deg);
              transform: rotate3d(-1, 0, 0, 90deg);
    }
    to {
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
              transform: rotate3d(0, 0, 0, 0deg);
    }
  }
  @-webkit-keyframes in-right {
    from {
      -webkit-transform: rotate3d(0, -1, 0, 90deg);
              transform: rotate3d(0, -1, 0, 90deg);
    }
    to {
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
              transform: rotate3d(0, 0, 0, 0deg);
    }
  }
  @keyframes in-right {
    from {
      -webkit-transform: rotate3d(0, -1, 0, 90deg);
              transform: rotate3d(0, -1, 0, 90deg);
    }
    to {
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
              transform: rotate3d(0, 0, 0, 0deg);
    }
  }
  @-webkit-keyframes in-bottom {
    from {
      -webkit-transform: rotate3d(1, 0, 0, 90deg);
              transform: rotate3d(1, 0, 0, 90deg);
    }
    to {
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
              transform: rotate3d(0, 0, 0, 0deg);
    }
  }
  @keyframes in-bottom {
    from {
      -webkit-transform: rotate3d(1, 0, 0, 90deg);
              transform: rotate3d(1, 0, 0, 90deg);
    }
    to {
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
              transform: rotate3d(0, 0, 0, 0deg);
    }
  }
  @-webkit-keyframes in-left {
    from {
      -webkit-transform: rotate3d(0, 1, 0, 90deg);
              transform: rotate3d(0, 1, 0, 90deg);
    }
    to {
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
              transform: rotate3d(0, 0, 0, 0deg);
    }
  }
  @keyframes in-left {
    from {
      -webkit-transform: rotate3d(0, 1, 0, 90deg);
              transform: rotate3d(0, 1, 0, 90deg);
    }
    to {
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
              transform: rotate3d(0, 0, 0, 0deg);
    }
  }
  @-webkit-keyframes out-top {
    from {
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
              transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
      -webkit-transform: rotate3d(-1, 0, 0, 104deg);
              transform: rotate3d(-1, 0, 0, 104deg);
    }
  }
  @keyframes out-top {
    from {
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
              transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
      -webkit-transform: rotate3d(-1, 0, 0, 104deg);
              transform: rotate3d(-1, 0, 0, 104deg);
    }
  }
  @-webkit-keyframes out-right {
    from {
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
              transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
      -webkit-transform: rotate3d(0, -1, 0, 104deg);
              transform: rotate3d(0, -1, 0, 104deg);
    }
  }
  @keyframes out-right {
    from {
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
              transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
      -webkit-transform: rotate3d(0, -1, 0, 104deg);
              transform: rotate3d(0, -1, 0, 104deg);
    }
  }
  @-webkit-keyframes out-bottom {
    from {
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
              transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
      -webkit-transform: rotate3d(1, 0, 0, 104deg);
              transform: rotate3d(1, 0, 0, 104deg);
    }
  }
  @keyframes out-bottom {
    from {
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
              transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
      -webkit-transform: rotate3d(1, 0, 0, 104deg);
              transform: rotate3d(1, 0, 0, 104deg);
    }
  }
  @-webkit-keyframes out-left {
    from {
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
              transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
      -webkit-transform: rotate3d(0, 1, 0, 104deg);
              transform: rotate3d(0, 1, 0, 104deg);
    }
  }
  @keyframes out-left {
    from {
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
              transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
      -webkit-transform: rotate3d(0, 1, 0, 104deg);
              transform: rotate3d(0, 1, 0, 104deg);
    }
  }
ul{
    list-style: none;
    padding:0;
    margin: 0 0 50px;
}
ul::after{
    content: '';
    display: table;
    clear: both;
}
li{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 0;
    float: left;
}
img{
    width: 200px;
    height: 200px;
}
li a{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    border-radius: 4px;
}
li h3{
    font-size: 16px;
    color:rgb(255, 255, 255 , 0.9);
    margin: 0;
}
li p{
    font-size: 12px;
    line-height: 1.5;
    color: rgb(255, 255, 255 , 0.8);
}
li .normal{
    width: 100%;
    height: 100%;
    background: #eff0f1;
    color:rgb(52, 73, 94, .4);
    box-shadow:inset 0 2px 20px #e6ebed;
    font-size: 50px;
    text-align: center;
    line-height: 200px;
}