body,html{
  margin:0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
}
body{
  font-family: sans-serif;
  padding: 50px;
  background: linear-gradient(45deg,#f37646,#f3e946) center center no-repeat;
  line-height: 1.4;
}
.title{
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 25px;
}


.item{
  transition: transform 3s;
  position: relative;
  height: 500px;
  margin:2px;
}
.item__image{
  display: block;
  width: 100%;
  height: 200px;
  border: 1px solid rgb(0, 0, 0, .2);
  box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
  cursor: pointer;
  
}
.item img{
  width: 100%;
  height: 100%;
  
}
.item__image img:hover{
  transform: scale(1.02);
}
.item__image.image2{
  display: inline-block;
  margin: 1px;
}
.item__image.image2 img{
  width: 48.9%;
}
.item__image.image3{
  display: inline-block;
  
}
.item__image.image3 img{
  width: 32.5%;
}
.item__image.image31{
  display: inline-block;
  margin-top: -2px;
}
.item.petit{
  width: 150px;
  margin: 2px;
}
.item.fond{
  margin-left: -60%;
}

.carousel{
  position: relative;
}
.carousel__container::after{
  content: '';
  display: table;
  clear: both;
}

.carousel__item{
  float:left;
}
.carousel__next,
.carousel__prev{
  display: inline-block;
  border:5px solid white;
  width: 25px;
  height:25px;
  border-left: none;
  border-bottom: none;
  /*margin:auto;*/
  left:0;
  right:0;
  top:50%;
  margin-top: -50px;
  bottom: 0;
  position: absolute;
  cursor: pointer;
  
}
.carousel__prev{
  transform: rotateZ(-135deg);
}
.carousel__next{
  transform: rotateZ(45deg);
  left:auto;
}
 